.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F2F5F8;
}

header {
    width: 100%;
    align-items: center;
    display: flex;
    padding: 44px 98px 79px 98px;
    justify-content: space-between;
}

ul {
    gap: 91px;
    display: flex;
    font-size: 24px;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 500;
    color: rgba(129, 114, 213, 1)
}

section {
    width: 90%;
    padding-left: 98px;
}

h1 {
    color: rgba(34, 88, 87, 1);
    padding: 52px 1110px 69px 98px;
    height: 37px;
    width: 232px;
    left: 98px;
    top: 212px;
    border-radius: nullpx;


}