.conteiner {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        background-color: #6c6e71;
}

header {
    width: 100%;
    background-color: rgb(49, 45, 45);
    align-items: center;
    display: flex;
    padding: 44px 98px 79px 98px;
    justify-content: space-between;
}

ul {
    gap: 91px;
    display: flex;
    font-size: 24px;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 500;
}
